body,
html {
  background-color: rgb(254, 40, 246, 1);
  box-sizing: border-box;
}

.header__logo {
  position: fixed;
  box-sizing: border-box;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid black;
  animation: headerHeight;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}
.header__logo span img {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
}

@keyframes headerHeight {
  0% {
    min-height: 100vh;
  }

  100% {
    min-height: 0;
  }
}
